<% include ./partials/header.ejs %>

      <div class="starter-template">
        <h1>DevPleno</h1>
        <p class="lead">FULLSTACK MASTER<br> Todas as Tecnologias Desenvolvidas em JavaScript Vanilla Code Pure</p>
      </div>
<% include ./partials/footer.ejs %>

    
